<div id = "outer">
    <div id= "inner_fixed">
        <app-menu></app-menu>
    </div>
    <div id="inner_remaining" >
        <div class="order">
            <h1> {{ getOrder }} </h1>
        </div>
        <div class="container_div">
            <app-container></app-container>
        </div>
        <div class="tree">
            <h4 class="tree_heading"> Tree </h4>
            <ul class="highest_tree_lvl">
                <li>
                    A
                </li>
                <li>
                    B
                </li>
                <ul>
                    <li>
                        B1
                    </li>
                    <li>
                        B2
                    </li>
                    <ul>
                        <li>
                            B21
                        </li>
                        <li>
                            B22
                        </li>
                    </ul>
                </ul>
                <li>
                    C
                </li>
            </ul>
        </div>
    </div>

</div>